button {

    background-color: #3882F6;
    color: white;
}


.header {
    background-color: #1F2937;
}

.quote {

    background-color: #E5E7EB;

}

.action {

    background-color: #3882F6;

}


.header-main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.header-sub-text
 .link-text {
    font-size: 18px;
    color: #E5E7EB;
}










