* {
    margin: 0;
    padding: 0;
    /* outline: solid red 2px; */
}

 body {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
 }

 header {
    background-color: #1F2937;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1em;
    padding-left: 10em;
    padding-right: 10em;
    padding-bottom: 4em;
    padding-top: 2em;
}

 li {
    list-style-type: none;
 }

 ul {
    display: flex;
    gap: 32px;
 }

 a {
    color: #E5E7EB;
    font-size: 24px;
    text-decoration: none;
 }

 .nav-left {
    font-size: 36px;
    color: #F9FAF8;
 }

 .header-main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
 }

 .header-sub-text {
    font-size:18px;
    color: #E5E7EB;
 }

 .header-content {
    background-color: #1F2937;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 0px;
    gap: 45px;
    flex-wrap: wrap;
    padding-left: 10em;
    padding-right: 10em;
    padding-bottom: 2em;
 }

 .content-left { 
    display: flex;
    flex: 1 1;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
    max-width: 60%;
 }

 .header-button {
    background-color: #3882F6;
    color: #E5E7EB;
    border-radius: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 16px;
    padding-right: 16px;
}

.header-img > img {
    width: 40%;
    height: 20%;
    border-radius: 0px;
}

.header-img {
    display: flex;
    justify-content: center;
}


/* ################## hero ####################### */

.hero {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 4em;
    padding-bottom: 4em;
    gap: 6em;
}

.info {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.pair {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 250px;
    height: 250px;
}

.pic-text-pair {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 6em;
}

.hero-subtext {
    font-size: 18px;
    color: #1F2937;
    text-align: center;

}

img {
    width: 250px;
    height: 250px;
    border-radius: 20px;
}